<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head") %>
<body>
    <%- include("partials/nav") %>
    
    <h1> Admin Section </h1>


    <form action="/addAuthor" method="GET">
        <button> Add Authors </button>
    </form>

    <br>

    <form action="/addQuote">
        <button> Add Quotes </button>
    </form>

    <br>

    <form action="/authors" method="GET">
        <button> All Authors </button>
    </form>

    <br>

    <form action="/quotes">
        <button> All Quotes </button>
    </form>


</body>
</html>